<footer>
    <div class="footer-content">
        <div class="footer-contact">
            <p><i class="fas fa-map-marker-alt"></i> Ehsas Lab, Narowal</p>
            <p><i class="fas fa-phone"></i> +92 315-6765056</p>
            <p><i class="far fa-envelope"></i> ehsaslab@gmail.com</p>
        </div>
        <div class="footer-links">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </div>
        <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
    <hr>
    <p>&copy; 2024 Email Sender. All rights reserved.</p>
</footer>