{% load static %}
<nav>
  <div>
    <li><a href="/"><img class="logo" src="{% static 'images/logo.jpg' %}" alt="logo"></a></li>
  </div>
  <div class="nav-item">
    <li><a href="{% url 'from_given_email' %}"><i class="fas fa-envelope"></i> Given Email</a></li>
    <li><a href="{% url 'from_excel' %}"><i class="fas fa-file-excel"></i> From Excel</a></li>
    <li><a href="{% url 'from_string' %}"><i class="fas fa-font"></i> From String</a></li>
  </div>
  <div class="hamburger">&#9776;</div>
</nav>